<!-- section 1 -->
<div
  class="flex justify-between text-white font-mulish bg-black border h-[80vh] rounded-xl mt-5"
>
  <div class="flex-col mt-[12rem] pl-10 h-[70vh] text-left">
    <h1 class="text-5xl font-bold">Welcome to BlogSpot!</h1>
    <p class="mt-4 text-xl">
      A place to share your stories, experiences, and ideas.
    </p>
  </div>
  <div class="grid grid-cols-2 grid-rows-2 gap-1 w-1/2 p-1">
    <img
      src="01.jpeg"
      alt="Image 1"
      class="object-cover w-full h-full border border-white rounded-md p-2"
    />
    <img
      src="02.jpeg"
      alt="Image 2"
      class="object-cover w-half h-full rounded-md border border-white p-2"
    />
    <img
      src="03.jpeg"
      alt="Image 3"
      class="object-cover w-half h-full rounded-md border border-white p-2"
    />
    <img
      src="04.jpeg"
      alt="Image 4"
      class="object-cover w-full h-full rounded-md border border-white p-2"
    />
  </div>
</div>
<!-- section 2 -->
<div
  class="flex justify-between text-white font-mulish bg-black border h-[80vh] rounded-xl mt-5"
>
  <div class="grid grid-cols-2 grid-rows-2 gap-1 w-1/2 p-1">Image</div>
  <div class="flex-col mt-[12rem] pl-10 h-[70vh] text-left">
    <h1 class="text-5xl font-bold">Blogs</h1>
    <p class="mt-4 text-xl">Check out our latest blogs now!</p>
  </div>
</div>

<!-- section3 -->
<div
  class="flex justify-between text-white font-mulish bg-black border h-[80vh] rounded-xl mt-5"
>
  <div class="flex-col mt-[12rem] pl-10 h-[70vh] text-left">
    <h1 class="text-5xl font-bold">Welcome to BlogSpot!</h1>
    <p class="mt-4 text-xl">
      A place to share your stories, experiences, and ideas.
    </p>
  </div>
  <div class="grid grid-cols-2 grid-rows-2 gap-1 w-1/2 p-1"></div>
</div>
