<nav class="flex justify-between">
  <a class="font-orbitron font-bold text-[48px]" routerLink="/home"
    >BLOGSPOT<span class="text-bluePrimary">.</span></a
  >
  <ul class="flex space-x-6 pt-4">
    <li class="font-mulish pr-10">
      <a
        routerLink="/home"
        class="hover:text-bluePrimary cursor-pointer"
        routerLinkActive="active"
        >Home</a
      >
    </li>
    <li class="font-mulish pr-10">
      <a
        routerLink="/blog-list"
        class="cursor-pointer hover:text-blue-500"
        routerLinkActive="active"
        >Blogs</a
      >
    </li>

    <li class="font-mulish pr-10">
      <a
        routerLink="/contact"
        class="hover:text-bluePrimary cursor-pointer"
        routerLinkActive="active"
        >Contact</a
      >
    </li>
  </ul>
</nav>
