<footer
  class="bg-black text-white p-8 text-left border border-black rounded-md mt-3"
>
  <div style="display: flex; justify-content: space-between; flex-wrap: wrap">
    <!-- Column 1 -->
    <div style="flex: 1; min-width: 200px; margin: 10px">
      <a class="font-orbitron font-bold text-[20px]"
        >BLOGSPOT<span class="text-bluePrimary">.</span></a
      >
      <p class="font-mulish">
        Learn more about our company, mission, and values. We're committed to
        making a difference.
      </p>
    </div>

    <!-- Column 2 -->
    <div class="flex-col min-w-[200px] m-2 font-mulish">
      <h4>QUICK LINKS</h4>
      <ul
        style="list-style-type: none; padding: 0"
        class="font-mulish font-extralight"
      >
        <li class="p-1">
          <a href="/home" style="color: white; text-decoration: none">Home</a>
        </li>
        <li class="p-1">
          <a href="/about" style="color: white; text-decoration: none">About</a>
        </li>
        <li class="p-1">
          <a href="/services" style="color: white; text-decoration: none"
            >Services</a
          >
        </li>
        <li class="p-1">
          <a href="/contact" style="color: white; text-decoration: none"
            >Contact</a
          >
        </li>
      </ul>
    </div>

    <!-- Column 3 -->

    <div class="flex-col min-w-[200px] m-2 font-mulish">
      <h4>CONTACT</h4>
      <ul class="font-extralight">
        <li class="p-1">Email: infoexample.com</li>
        <li class="p-1">Phone: +1 234 567 890</li>
        <li class="p-1">Address: 123 Main Street, City, Country</li>
      </ul>
    </div>

    <!-- Column 4 -->
    <div class="flex-col min-w-[200px] m-2 font-mulish">
      <h4>SUBSCRIBE</h4>
      <p class="p-1">Subscribe to our newsletter now!</p>
    </div>
  </div>
</footer>
